<div class="well sidebar-nav">
  <h4>シフト日</h4>
  <ul class="nav nav-list">
    <% i = 1
      @shift_dates.each do |sd|
    %>
      <li><%= link_to i.to_s+"日目", "/shift/"+sd.id.to_s %></li>
    <%  i += 1
      end %>
  </ul>
</div><!--/.well -->
