<div class="col-lg-2 col-md-2">
  <%= render :partial => 'sidebar' %>
</div><!--/span-->
<div class="col-lg-10 col-md-10">
  <div class="page-header">
    <h1>ようこそ！</h1>
  </div>
  <p>このサイトはヰベント企画局のメンバーのためのシフト管理システムです。</p>
  <p>このシステムでは以下のことを行うことができます。</p>
  <ul>
    <li>プロフィールの設定</li>
    <li>タスクの追加、管理</li>
    <li>シフト作成のためのアンケート回答</li>
    <li>シフト確認</li>
  </ul>
  <br>
  <p>また、シフト管理者はさらに以下のことを行うことができます。</p>
  <ul>
    <li>ユーザーの登録情報を検索</li>
    <li>シフト作成</li>
  </ul>
</div>
