// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.well {
  padding: 0;
  margin-bottom: 0;
}
.well h4 {
  padding: 19px;
  margin-top: 0;
  margin-bottom: 0;
}
.well ul {
  padding: 0;
  margin: 0;
}
.well ul li a {
  padding-left: 19px;
  border-top: 1px solid #ddd;
  text-decoration: none;
}
