<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @driver_license.type %>
</p>

<%= link_to 'Edit', edit_driver_license_path(@driver_license) %> |
<%= link_to 'Back', driver_licenses_path %>
